 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Rachel</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 profile-container">
                    <img class="img-responsive img-rounded profile-picture" src="img/profile.png" alt="profile-pic" />
                </div>
                <div class="col-lg-6 about-text">
                    <p>Hi! I'm a sophomore at Stanford studying computer science, and I'm passionate about startups 
                        and creating technologies that have positive impact in fields like health, fitness, and education.
                        I invented a medical device that monitors physical therapy for the knee, and I have filed for 
                        patents in the education technology space. I am also passionate about startups. I was a founding
                        software engineer at Queer Chart and a co-founder of Sesame.  
                        Right now, I'm working as a software engineer in the Stanford Medical School. 
                        In the past, I have worked as a software engineering intern at Yext and Vanguard and
                        as a computer science research intern at George Mason University. 
                        In my free time, I like going for runs and playing chess. </p>
                </div>
            </div>
        </div>
    </section>
