 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-text">
                    <div class="col-lg-12 text-center">
                        <h2>About Me</h2>
                        <hr class="star-light">
                    </div>
                    <p>
                        Hi! I'm a senior at Stanford studying computer science, and I'm passionate about AR/VR and
                        technologies that have positive impact in fields like health and fitness. My past work experience
                        includes working as a software engineer in the Stanford Medical School as well as internships at 
                        Apple, Microsoft, Vanguard, and Yext.   
                    </p>
                    <p>
                        Above, you can check out some of my personal projects. I invented a medical device that monitors 
                        physical therapy for the knee, and a patent was issued in 2022. I was also a founder at Queer Chart,
                        an online platform that connected queer women at Stanford, and a co-founder of Sesame, a video calling
                        platorm that allowed friends to replicate dorm hangouts during the COVID pandemic. <br>
                    </p>
                    <p>
                        In my free time, I enjoy going for runs and playing chess. 
                    </p>
                </div>
                <div class="col-lg-6 profile-container">
                    <img class="img-responsive img-rounded profile-picture" src="img/rachel.jpeg" alt="profile-pic" />
                </div>
            </div>
        </div>
    </section>
